*,
*::after,
*::before {
    box-sizing: border-box;
}

::view-transition {
    pointer-events: none;
}

html {
    scroll-behavior: smooth;
    @media (prefers-reduced-motion) {
        scroll-behavior: auto;
    }
}

:root {
    view-transition-name: none;

    --main-text-color: #333333;
    --background-color: #faecfc;

    @media (prefers-color-scheme: dark) {
        --main-text-color: #fce3ff;
        --background-color: #333333;
    }
}

@view-transition {
    navigation: auto;
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--main-text-color);
}

.main {
    max-width: 75rem;
    margin: 0 auto;
    padding-top: 5.625rem;
    padding-bottom: 4rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.nav-header,
.nav-footer {
    margin-bottom: 3.75rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.link-details {
    font-size: 1.75rem;
    position: relative;
    color: var(--background-color);

    &::before {
        content: "";
        inset: -5px;
        background-color: var(--main-text-color);
        position: absolute;
        z-index: -1;
        transform: rotateZ(5deg);
        transform-origin: center center;
        transition: transform 150ms;
    }

    &:where(:focus-within, :hover)::before {
        transform: rotateZ(-3deg);
    }
}

.header-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.95rem;

    @media (width >= 40rem) {
        font-size: 3.75rem;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 1.25rem;
    pointer-events: none;

    @media (width >= 40rem) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (width >= 64rem) {
        grid-template-columns: repeat(4, 1fr);
    }

    &::before {
        content: "";
        width: 0;
        padding-bottom: 100%;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }

    & > *:first-child {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }

    @media (prefers-reduced-motion: no-preference) {
        & > li {
            transition: opacity 0.3s linear;
            pointer-events: auto;
        }

        &:where(:focus-within, :hover) > li:not(:focus-within, :hover) {
            opacity: 0.65;
        }
    }

    img {
        display: block;
        width: 100%;
        object-fit: cover;
        height: 100%;
        transition: transform 350ms;
    }
}

.gallery-item img {
    contain: layout;
}

.gallery-item-link {
    overflow: hidden;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 0.3875rem;
    &:where(:focus, :hover) {
        outline: var(--main-text-color) 4px solid;
    }

    &:where(:focus, :hover) {
        img {
            transform: scale(1.25) rotateZ(5deg);
        }
    }
}

.details-item {
    margin-bottom: 0.5rem;
}

.details {
    img {
        width: 100%;
        object-fit: cover;
        border-radius: 0.3875rem;
    }
}

.unknown-pastry {
    font-size: 1.75rem;
}

/* Create a custom animation */
@keyframes move-out {
    to {
        opacity: 0;
        rotate: z 5deg;

    }
}

@keyframes move-in {
    from {
        opacity: 0;
        rotate: z 5deg;
    }
}

/* Apply the custom animation to the old and new page states */
::view-transition-old(image) {
    animation: 0.3s ease-out both move-out;
}

::view-transition-new(image) {
    animation: 0.3s ease-in both move-in;
}

@keyframes slide-out {
    to {
        translate: 0 100px;
        opacity: 0.25;
        scale: 1 1;
        transform: scale(1);
    }
}

@keyframes slide-in {
    from {
        translate: 0 100px;
        scale: 1 1;
        opacity: 0.25;
        transform: scale(1);
    }
}

::view-transition-old(title) {
    animation: 0.2s ease-out both slide-out;
}

::view-transition-new(title) {
    animation: 0.2s ease-in both slide-in;
}
